<center>
<h2><%= @the_survey.title %></h2>
<em> by: <%=@the_survey.creator.first_name %> <%=@the_survey.creator.last_name %></em>
<h3><em><%= @the_survey.description %></em></h3>
</center>

<ol>
<% @the_survey.questions.each do |q| %>
<p><li> <%= q.content %> </li>
<% q.choices.each do |c| %>
<br> <%= c.option %>
<% end %></p>
<% end %>
</ol>


