<div >
  <h1 style="display: inline; margin-right: 20px;">Hipster News</h1>
  <a href="/posts/new">new post</a>
  <%if session[:user_id]%>
    <a href="/logout">logout</a>
    <p style="float: right;">Logged in: <%= User.find_by(id: session[:user_id]).name%></p>
  <%else%>
    <a href="/login">login</a>
    <a style="float: right;" href="/signup">sign up</a>
  <%end%>
</div>
<br>
<ol>
  <% post_list.each do |post| %>
    <dt>
      <li>
        <%unless v = Vote.find_by(post_id: post.id) %>
          <%#if v.user_id == session[:user_id]%>
            <form style="display: inline;" action="/posts/<%=post.id%>/vote" method="post"><input type="submit" value="^" /></form>
          <%#end%>
        <%end%>
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
        <p style="display: inline;">votes: <%=post.votes.count%></p>
      </li>
    <dd>author<a href="/users/<%= post.user.id %>"> <%= post.user.name %></a>
    <dd>comments: <%= post.comments.count %></dd></dt>
    <br>
  <%end%>
</ol>
