<h1><%= @cur_post.title %></h1>
<a href="/">home</a>
<ul id="comment-list">
  <% @cur_post.comments.each do |comment|%>
  <div class="doomed">
    <dt><li><%= comment.content %> --<%= comment.user.name%></li>
    <dd><p style="margin: 5px;">posted:<%=comment.created_at%></p></dd></dt>
    <% if comment.user_id == session[:user_id] %>
      <form class="comment_delete" action="/comments/<%=comment.id%>" method='post'>
        <input type='hidden' name='_method' value='delete' />
        <input type='submit' value='delete' />
      </form>
    <%end%>
  </div>
    <br>
  <%end%>
</ul>

<a id="new-comment-form" href="/posts/<%=@cur_post.id%>/comments/new">Comment</a>
